trigger: none
pr: none

resources:
  repositories:
    - repository: dataops_adfpublish
      type: git
      name: partnerpodbr/adftestbv
      ref: adf_publish

stages:
- stage: deploy_to_dev
  displayName: 'Deploy to DEV'
  variables:
  - group: dev-bv-keyvault
  - group: dev-bv-environment
  jobs:
  - template: templates/jobs/deploy-adf-job.yml
    parameters:
      environmentName: 'DEV'
      serviceConnection: 'sp-pod-br-dataops'
- stage: deploy_to_prod
  displayName: 'Deploy to Prod'
  variables:
  - group: prd-bv-keyvault
  - group: prod-bv-environment
  jobs:
  - template: templates/jobs/deploy-adf-job.yml
    parameters:
      environmentName: 'PROD'
      serviceConnection: 'sp-pod-br-dataops'
