trigger: none
pr: none

resources:
  repositories:
    - repository: dataops_adfpublish
      type: git
      name: partnerpodbr/adftestbv
      ref: adf_publish
      
    - repository: templatesdataops
      type: git
      name: partnerpodbr/templatesdataops

stages:
- stage: deploy_to_dev
  displayName: 'Deploy to DEV'
  variables:
  - group: dev-bv-keyvault
  - group: dev-bv-environment
  jobs:
  - deployment: deploy_adf
    displayName: 'Deploy to Azure Data Factory DEV'
    environment: DEV
    pool:
      vmImage: 'windows-2019'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          - template: deploy-adf-job.yml@templatesdataops
            parameters:
              serviceConnection: 'sp-pod-br-dataops'
- stage: deploy_to_prod
  displayName: 'Deploy to Prod'
  variables:
  - group: prd-bv-keyvault
  - group: prod-bv-environment
  jobs:
  - deployment: deploy_adf
    displayName: 'Deploy to Azure Data Factory PROD'
    environment: PROD
    pool:
      vmImage: 'windows-2019'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          - template: deploy-adf-job.yml@templatesdataops
            parameters:
              serviceConnection: 'sp-pod-br-dataops'
